<div class="create-user">
    <h2><%- pageName %></h2>

    <form action="/create-user" method="POST">
        <div class="field">
            <label>Username</label>
            <input type="text" name="user" placeholder="Username">
        </div>
        <div class="field">
            <label>Password</label>
            <input type="password" name="password" placeholder="Password">
        </div>
            <input type="submit" class="btn-send" value="Enviar">
    </form>

</div>