<div class="rules">
    <h2><%- pageName %></h2>
    <p>1. Se harán una serie de preguntas</p>
    <p>2. Cada pregunta tiene 4 respuestas posibles</p>
    <p>3. Solo una de las respuestas es la correcta</p>
    <p>4. Hay un total de 5 rondas de preguntas por partida</p>
    <p>5. Cada pregunta tiene un nivel, iniciando por el nivel 1 hasta el 5</p>
    <p>6. Los niveles indican el grado de dificultad de la pregunta</p>
    <p>7. Si repondes correctamente obtendras puntos</p>
    <p>8. El nivel indica la cantidad de puntos que obtendra el jugador</p>
    <p>9. Puedes retirarte de la partida sin perder los puntos acumulados</p>
    <p>10. Si la respuesta es incorrecta perderas todos los puntos acumulados en la partida actual</p>
    <p>11. Puedes jugar multiples partidas para acumular más puntos</p>
    <p class="note">Nota: Debes estar registrado y autenticado para guardar tu progreso</p>
    <h2>Buena suerte!!</h2>
    <div class="menu">
        <a  href="/create-user">Registrarse</a>
        <a href="/log-in">Iniciar sesión</a>
    </div>
</div>